@font-face {
  font-family: "iconfont"; /* Project id 4030661 */
  src: url('//at.alicdn.com/t/c/font_4030661_hry0clem7a7.woff2?t=1682152299284') format('woff2'),
       url('//at.alicdn.com/t/c/font_4030661_hry0clem7a7.woff?t=1682152299284') format('woff'),
       url('//at.alicdn.com/t/c/font_4030661_hry0clem7a7.ttf?t=1682152299284') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-tianjia:before {
  content: "\e64c";
}

.icon-fangda:before {
  content: "\e624";
}

.icon-shanchu:before {
  content: "\e66d";
}

.icon-pingfen:before {
  content: "\e6d8";
}

.icon-zanting:before {
  content: "\e669";
}

.icon-back-audio:before {
  content: "\e61e";
}

.icon-bofang03:before {
  content: "\ea69";
}

.icon-next-audio:before {
  content: "\ea6a";
}
